@using WebApp.Models.Postulation
@model List<PostulationViewModel>
@{
    ViewBag.Title = "Liste des postulations";
}

<h2>@ViewBag.Title</h2>
<div class="container-fluid bg-primary">
@foreach (var postulation in Model)
{
    <div class="container-fluid bg-info" style="display: block; color: #333; margin: 1rem;">
        <div>Date : @postulation.Date</div>
        <div>Statut : @postulation.Statut</div>
        <div>Ref. de l'offre : @postulation.OffreId</div>
    </div>
}
</div>

